{% extends 'base.html.twig' %}

{% block body %}

{#{ dump(search) }#}

<h1>Wlcome, pagina Home</h1>

<div>
    {% for commnet in comments  %}
    <p> {{ endblock }} </p>
    {% endfor %}
</div>

{% endblock %}